<h1> All Discounts</h1>

<% @discounts.each do |discount| %>
<li> <%= link_to discount.name, merchant_discount_path(discount.id)%> </li>
<% end %>

<center><%= button_to "New Discount", new_merchant_discount_path, method: :get%></center>
