<div class="adminUsersIndex">
  <% @users.each do |user|  %>
    <section id="user_<%= user.id %>">
      <p><%= link_to user.name, admin_user_path(user) %></p>
      <p><%= user.created_at.to_formatted_s(:long) %></p>
      <p><%= user.role.to_s %></p>
    </section>
  <% end %>
</div>