<div class="userInfo">
<%= render partial: '/partials/user_data_form', locals: { user: @user,
                                               method: :patch,
                                               button_text: 'Update Profile'} %>
</div>
